@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    border-radius: 2px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#startStuff {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
}

#up {
    height: 70px;
    width: 70%;
    background-color: red;
    display: flex;
    align-items: center;
    padding: 30px;
    border-color: black;
    border-style: solid;
}

#up h1 {
    color: white;
}

#mid {
    height: 70px;
    width: 70%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#down {
    /* height: 400px; */
    width: 70%;
    background-color: green;
    display: flex;
    flex-direction: row;
}

#downleft {
    flex: 2;
    height: auto;
    background-color: orange;
    margin: 0px 0px 10px 0px;
}

#downleft .item {
    height: 150px;
    background-color: yellow;
    border-color: black;
    border-style: solid;
    margin: 0px 5px 10px 0px;
}

#downright {
    flex: 5;
    height: auto;
    background-color: purple;
    margin: 0px 0px 10px 5px;
    display: flex;
    flex-direction: column;
}

#downright .item {
    height: 100px;
    background-color: orange;
    margin: 0px 0px 10px 0px;
    border-color: black;
    border-style: solid;

    display: flex;
    flex-direction: column;
    padding: 10px;
}

.iup{
    flex: 1;
    background-color: white;

    display: flex;
}
.iuleft{
    flex: 3;
    height: auto;
    background-color: red;
}
.iumid{
    flex: 1;
    height: auto;
    background-color: yellow;
}
.iuright{
    flex: 1;
    height: auto;
    background-color: green;
}
.idown{
    flex: 1;
    background-color: grey;
}