@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    border-radius: 3px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#startStuff {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
}

#up {
    height: 70px;
    width: 80%;
    background-color: rgb(77, 77, 77);
    display: flex;
    align-items: center;
    padding: 30px;
    border-color: black;
    border-style: solid;
}

#up h1 {
    color: white;
}

#mid {
    height: 40px;
    width: 80%;
    background-color: rgba(109, 109, 109, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

#down {
    /* height: 400px; */
    width: 80%;
    background-color: rgba(0, 128, 0, 0);
    display: flex;
    flex-direction: row;
}

#downleft {
    flex: 2;
    height: auto;
    background-color: rgba(255, 166, 0, 0);
    margin: 0px 5px 0px 0px;
}

#downleft .item {
    height: auto;
    background-color: rgba(255, 255, 0, 0);
    border-color: black;
    border-style: solid;
    margin: 0px 0px 10px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px;
}

#userCircle{
    height: 100px;
}

#downright {
    flex: 5;
    height: auto;
    background-color: rgba(128, 0, 128, 0);
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 5px;
}

#downright .item {
    height: 100px;
    background-color: rgba(255, 166, 0, 0);
    margin: 0px 0px 10px 0px;
    border-color: black;
    border-style: solid;

    display: flex;
    flex-direction: column;
    padding: 10px;
}

.iup {
    flex: 1;
    background-color: rgba(255, 255, 255, 0);

    display: flex;
}
.iuleft {
    flex: 7;
    height: auto;
    background-color: rgba(255, 0, 0, 0);

    display: flex;
    align-items: center;
}
.iumid {
    flex: 3;
    height: auto;
    background-color: rgba(255, 255, 0, 0);

    display: flex;
    align-items: center;
    justify-content: right;
}
.iuright {
    flex: 2;
    height: auto;
    background-color: rgba(0, 128, 0, 0);

    display: flex;
    align-items: center;
    justify-content: right;
}

.likeButton{
    padding: 3px 10px; 
    background-color: yellow
}
.idown {
    flex: 1;
    background-color: rgba(128, 128, 128, 0);
}
